{% set nav = 'contact' %}
{% extends 'main.twig' %}

    {% block content %}

      <div id="wrapper">
        
        <p id="pagedis">Contact us with any questions!!!</p>
      
        <section class="primary">
      <section id="Selection">
        <ul id="choices">
          <h3>General Information</h3>
          <p></p>
          <p>Do not hesitate to contact us with any questions or concerns!  The best and quickest way to reach us is via email, facebook, and/or twitter.</p>
        </ul>     
      </section>
          </section>
        <section class="secondary">
        <section id="Selection" class="contact">
       <ul id="choices">
          <h3>Contact details</h3>
          <ul class="contact_info">
           <li class="email"><a href="mailto:mikita.bekbulatau@mu.edu">email</a></li>
            <li class="facebook"><a href="https://www.facebook.com/nikita.bekbulatov?fref=ts">FB page</a></li>
            <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=Putin">Tweet us</a></li>
            <li class="phone"><a href="tel:555-555-5555">Call us</a></li>
          </ul>
        </ul>     
      </section>
          </section>
        
      
        </div>

    {% endblock content %}