
{% extends 'main.twig' %}

    {% block content %}
      <div>
        
        <p>Enter Your Info to login</p>
      

	<form action="" method="post">

            <fieldset>
            <legend>Personal info</legend>
          
          	<label for="password">Password: </label>
          	<input type="password" id="password" name="user_password">
          
          	<label for="mail">Email: </label>
         	<input type="email" id="mail" name="user_email">
          
            </fieldset>
    
	  <button type="reset" id="reset">Clear Form</button>
          <button type="submit">Send Form!</button>

        </form>
      
        </div>
    {% endblock content %}
       