
{% extends 'main.twig' %}

    {% block content %}
    <div>
        
        <p>Enter Your Info to login</p>
      

	<form action="" method="post">
        <fieldset>
            <legend>Personal info</legend>
            <label for="mail">Email: </label>
            <input type="email" id="mail" name="user_email">


            <label for="password">Password: </label>
            <input type="password" id="password" name="user_password">
          

        </fieldset>
    
	  <button type="reset" id="reset">Clear</button>
      <button type="submit">Login</button>

    </form>
      
    </div>
    {% endblock content %}
       