
{% extends 'main.twig' %}

    {% block content %}
    <div style="margin-left:10%">
        
        <p style="margin-bottom:5px;">Enter Your Info to login</p>
      

	<form id="Selection" action="" method="post" >
        <fieldset style="text-align:center;">
            <legend>Personal info</legend>
            <label class="loginLabel" for="mail">Email: </label>
            <input type="email" id="mail" name="user_email">


            <label class="loginLabel" for="password">Password: </label>
            <input type="password" id="password" name="user_password">
          

        </fieldset>
    
	  <button type="reset" id="reset" style="margin-top:-50px;">Clear</button>
      <button type="submit">Login</button>

    </form>
      
    </div>
    {% endblock content %}
       