{% extends 'main.twig' %}


{% block content %}
    
      <div id="wrapper">
        
        <p id="pagedis">All Done!</p>
      
      <section id="Selection">
        <ul id="choices">
         <h1>Thank You!</h1>

	
<p>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you.
 You may log into your account at <a href="http://www.paypal.com/us">www.paypal.com/us</a> to view details of this transaction.</p>
          
        </ul>     
      </section>
      
        </div>

{% endblock content %}