

{% extends 'main.twig' %}

    {% block content %}
      <div>

      <div>
        
        <h1 style="color:white;">Forecast for you</h1>
          <div class="left">
             
                  <button type="button" value="Log out" onclick="window.location.href='http://localhost:8000/'">Log Out</button>

                  <button type = "button" value="Temperature" onclick="window.location.href='http://localhost:8000/temperature'">Temperature</button>
              
                  <button type = "button" value="Wind Speed" onclick="window.location.href='http://localhost:8000/wind-speed'">Wind Speed</button>

                  <a href="forecast.csv" download="w3logo"><button type ="button" value="download" onclick="">DOWNLOAD FORECAST</button></a>

                  <button type ="button" value="Upload" onclick="window.location.href='http://localhost:8000/upload'">Upload </button>
          </div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js" download="weather2"></script>
          <script src="js/load_graph.js"></script>
          <div id="container" style="width:100%; height:400px;"></div>
          <br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br>
          <br><br><br><br>
          <script src="js/forecast_load.js"></script>
          <div id="container2" style="width:100%; height:400px;"></div>

          <script>
		</script>

      <br>
<h3 style="color:white; text-align: center;">Weather Forecast</h3>
<br>
        <div style="margin-left:38%;">
<span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;">
<a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:53233.1.99999&bannertypeclick=wu_clean2day" title="Milwaukee, Wisconsin Weather Forecast" target="_blank">
<img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_cond&airportcode=KMKE&ForcedCity=Milwaukee&ForcedState=WI&zip=53233&language=EN" alt="Find more about Weather in Milwaukee, WI" width="300" />
</a>
<br>
<a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:53233.1.99999&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast
</a>
</span>
          </div>
    {% endblock content %}
       

